.bg{
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/chatbg.png");
    height: 500vh;
    background-size: cover;
}
.name{
    text-align: center;
    color: white;
    font-size: 35px;
    margin:40px;
      
}
.message-sent{
    text-align: right;
    color:white;
    background-color: #47a3f3;
    font-size:25px ;
    padding:12px;
    margin:25px;
    border-radius:10px;
    border-bottom-right-radius: 0px;
}
.message-received{
    background-color: #52606d;
    color:white;
    font-size:25px ;
    padding:12px;
    margin:25px;
    border-radius:10px;
    border-bottom-left-radius: 0px;
      
      

}